<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta author="Ángel López">
    <link rel="stylesheet" href="../assets/css/stylesej4.css">
    <script></script>
    <title>Ej 4 - Nombre profesores</title>
    <script src="../assets/js/logic.js"></script>
</head>
<body>
    <div class="container">
        <h1>¿Cómo se llama el profesor?</h1>
        <select id="nombre" name="nombre">
            <option>Michael</option>
            <option>Daniel</option>
            <option>Jorge</option>
            <option>Isabella</option>
        </select>
        <select id="apellido" name="apellido">
            <option>Jordan</option>
            <option>López</option>
            <option>Bojacá</option>
            <option>Becerra</option>
        </select>
        <button id="comprobar" onclick="comprobar()">Comprobar</button>
        <span id="result"></span>
    </div>

    
</body>
</html>