body {
    font-family: Arial, sans-serif;
    background-color: #e9e9e9;
}
.logo img {
    max-width: 1000px;
    max-height: 500px;
    height: auto;
    width: auto;
    text-align: center;
}
  
.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 200px;
    float: left;
}
.menu li {
    background-color: rgb(218, 9, 33);
    color: white;
    padding: 10px;
    border-bottom: 1px solid #fff;
}
.menu li:hover {
    background-color: #555;
}
.menu li a {
    color: white;
    text-decoration: none;
    display: block;
    font-weight: bold;
}
.content {
    margin-left: 220px;
    padding: 20px;
}